<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="quizPollDBEntities" connectionString="metadata=res://*/dbModel1.csdl|res://*/dbModel1.ssdl|res://*/dbModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=quizPollDB.db.11797691.hostedresource.com;initial catalog=quizPollDB;persist security info=True;user id=quizPollDB;password=Cmt3313!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>