<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="quizPollDBEntities" connectionString="metadata=res://*/dbModel1.csdl|res://*/dbModel1.ssdl|res://*/dbModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=quizPollDB.db.11797691.hostedresource.com;initial catalog=quizPollDB;persist security info=True;user id=quizPollDB;password=Cmt3313!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>